<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/style_view-about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>DCCLugares</title>
  </head>
  <body>
    <section class="head-section">
      <div class="head">
        <div class="logo">
          <a href="../../index.html">logo </a>
        </div>

        <nav class="navbar">
          <a href="../../index.html"> Inicio </a>
          <a href="../views/fichas_view.html"> Fichas</a>
          <a href="../views/about_view.html"> Acerca de</a>
          
        </nav>
      </div>
    </section>

    <div class="section">
      <div class="content">
        <h2>DCCLugares</h2>
      </div>
      <div class="section-content-about">
        <b> <p id="who-we-are">¿Quiénes somos?</p> </b>
        <p>
          Somos una empresa dedicada a la gestión de viajes turísticos y a
          proporcionar información sobre destinos turísticos de todo el mundo.
          Nuestro objetivo es hacer que la planificación y la organización de tu
          viaje sean lo más fáciles y cómodas posible, ofreciéndote una amplia
          variedad de paquetes y servicios personalizados. Además, estamos
          comprometidos con el turismo responsable y sostenible, y trabajamos
          con proveedores y operadores turísticos locales para ofrecerte
          experiencias auténticas y enriquecedoras. En definitiva, estamos aquí
          para ayudarte a descubrir nuevos lugares, conocer diferentes culturas
          y crear recuerdos inolvidables.
        </p>
      </div>
    </div>

    <footer>
      <p>Contáctanos <a href=""> +569 9000 4260 </a></p>
      <p>
        Realizado por
        <a href="https://github.com/paulmacguire"> <b>paulmacguire</b></a>
      </p>
    </footer>
  </body>
</html>
