<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/style_view-fichas.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>DCCLugares</title>
  </head>
  <body>
    <section class="head-section">
      <div class="head">
        <div class="logo">
          <a href="../../index.html">logo </a>
        </div>

        <nav class="navbar">
          <a href="../../index.html"> Inicio </a>
          <a href="../views/fichas_view.html"> Fichas</a>
          <a href="../views/about_view.html"> Acerca de</a>
          
        </nav>
      </div>
    </section>

    <div class="cards">
      <div class="card">
        <img src="../assets/imgs/lago-villarica.jpg" alt="" class="card-image" />
        <div class="card-content">
          <ul>
            <li> Monto: 15.000 CLP / Noche</li>
            <li> Regió de la Araucanía</li>
            <li> No tantos Bares/Restaurantes en la noche</li>
          </ul>
        </div>

        <div class="card-info">
            <div>
                Lago Villarica, Villarica (Pucón)
            </div>
            <div>
                4.6 ★
            </div>
        </div>
      </div>
      <div class="card">
        <img src="../assets/imgs/playa-iquique.jpg" alt="" class="card-image" />
        <div class="card-content">
          <ul>
            <li> Monto: 20.000 CLP / Noche</li>
            <li> Región de Tarapacá</li>
            <li> Varios lugares para salir de fiesta, y a comer</li>
          </ul>
        </div>

        <div class="card-info">
            <div>
                Playa Cavancha, Iquique
            </div>
            
            <div>
              4.8 ★
            </div>
        </div>
      </div>
      <div class="card">
        <img src="../assets/imgs/playa-anakena.jpg" alt="" class="card-image" />
        <div class="card-content">
          <ul>
            <li> 40.000 CLP / Noche</li>
            <li> Región de Valparaíso	</li>
            <li> Varios lugares turísticos, harta fiesta y locales buenos.</li>
          </ul>
        </div>

        <div class="card-info">
            <div>
              Playa Anakena, Isla de Pascua
            </div>
            <div>
              4.7 ★
            </div>
        </div>
      </div>
      <div class="card">
        <img src="../assets/imgs/torres-del-paine.jpg" alt="" class="card-image" />
        <div class="card-content">
          <ul>
            <li>30.000 CLP / Día</li>
            <li> Región de Magallanes y Antártica Chilena</li>
            <li> Parques turísticos y vistas increibles. Varios lugares a los alrededores para comer </li>

          </ul>
        </div>

        <div class="card-info">
            <div>
                Parque Torres del Paine, TDP
            </div>
            <div>
                4.9 ★
            </div>
        </div>
      </div>
      <div class="card">
        <img src="../assets/imgs/playa-zapallar.jpg" alt="" class="card-image" />
        <div class="card-content">
          <ul>
            <li> Monto: 50.000 CLP / Noche</li>
            <li> Región de Valparaíso</li>
            <li> No tantos Bares/Restaurantes en la noche</li>
          </ul>
        </div>

        <div class="card-info">
            <div>
                Playa Zapallar, Zapallar
            </div>
            <div>
              4.2 ★
            </div>
        </div>
      </div>
      
    </div>

    <footer>
      <p>Contáctanos <a href=""> +569 9000 4260 </a></p>
      <p>
        Realizado por
        <a href="https://github.com/paulmacguire"> <b>paulmacguire</b></a>
      </p>
    </footer>
  </body>
</html>
